<div id="preloader">
  <div class="preloader-bkg">
    <div class="circle" id="cc1"></div>
    <div class="circle" id="cc2"></div>
    <div class="circle" id="cc3"></div>
    <div class="circle" id="cc4"></div>
  </div>

  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <img class="object" id="object_one"   src='assets/images/pictogramloader-01.svg'>
        <img class="object" id="object_two"   src='assets/images/pictogramloader-02.svg' style="left: 20px;">
        <img class="object" id="object_three" src='assets/images/pictogramloader-03.svg' style="left: 40px;">
        <img class="object" id="object_four"  src='assets/images/pictogramloader-04.svg' style="left: 60px;">
        <img class="object" id="object_five"  src='assets/images/pictogramloader-05.svg' style="left: 80px;">
        <img class="object" id="object_six"   src='assets/images/pictogramloader-09.svg' style="left:100px;">
        <img class="object" id="object_seven" src='assets/images/pictogramloader-06.svg' style="left:120px;">
        <img class="object" id="object_eight" src='assets/images/pictogramloader-07.svg' style="left:140px;">
        <img class="object" id="object_nine"  src='assets/images/pictogramloader-08.svg' style="left:160px;">
        <img class="object" id="object_ten"   src='assets/images/pictogramloader-05.svg' style="left:180px;">
        <p>Cargando tu experiencia Rappi</p>
      </div>
    </div>
  </div>
</div>