<div class="actionable-no-result-box">
  <p>'{{searchKeyword}}' es un:</p>
  <div>
    <button {{action "selectMeaning" "place" searchKeyword}}>   <span class="place-button">   </span> Lugar </button> 
    <button {{action "selectMeaning" "product" searchKeyword}}> <span class="product-button"> </span> Producto</button> 
  </div>
</div>