{{yield}}
<div class="popular-keywords-container">

  <h3>BÚSQUEDAS</h3>
  <h1>POPULARES</h1>

  <div class="keywords-container">
    {{#each keywords as |keyword|}}
      <p class="keywords">{{keyword}}</p>
    {{/each}}
  </div>
</div>
