<div class="bg-block block-one">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="block-subHeading uppercase">{{blockData.b1.title}}</h5>

                <h2 class="block-heading">
                  {{blockData.b1.text}}
                </h2>
                <h5 class="block-subHeading">
                  {{blockData.description1}}
                </h5>

                <div class="btn-block">
                    {{!-- <button class="btn btn-primary">ver mas</button> --}}
                </div>
            </div>
        </div>
    </div>
</div>
{{yield}}
