<div class="container">
  <h1>AVISO DE PRIVACIDAD</h1>

  <p>&nbsp;</p>

  <p>El presente documento constituye el Aviso de Privacidad para efectos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante la “<b>LFPDP</b>”) y las disposiciones que emanan de ella o se relacionan
    con la misma. Este Aviso de Privacidad (en lo sucesivo referido como “<b>Aviso</b>”) aplica a la información personal recopilada sobre el Titular por <b>TECNOLOGÍAS RAPPI, S.A.P.I. DE C.V.,</b> en su carácter de Responsable.</p>

  <p>&nbsp;</p>

  <p>En <b>TECNOLIGÍAS RAPPI, S.A.P.I. DE C.V.,</b> , con domicilio en <b>Avenida Medellín No. 153, piso 4, Col.
    Roma Norte, Del. Cuauhtémoc, C.P. 06700, Ciudad de México,</b> estamos conscientes que usted tiene derecho a conocer qué información recabamos de usted y nuestras prácticas en relación con dicha información. Las condiciones contenidas en el presente
    son aplicables a toda la información que se recaba a nombre de y por <b>TECNOLIGÍAS RAPPI, S.A.P.I. DE C.V.,</b> (en adelante “<b>EL RESPONSABLE</b>”).</p>

  <p>&nbsp;</p>

  <p>Para los efectos del presente Aviso, los t&eacute;rminos que se utilicen en &eacute;ste y que no est&eacute;n definidos en el mismo tendr&aacute;n el significado que se les atribuye en la LFPDP. El presente Aviso tiene por objeto establecer los t&eacute;rminos
    y condiciones en virtud de las cuales &ldquo;EL RESPONSABLE&rdquo; (o el Encargado que designe &ldquo;EL RESPONSABLE&rdquo;):</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp; &nbsp;</strong>Recibir&aacute; y proteger&aacute; los Datos Personales del Titular, a efecto de proteger su privacidad y su derecho a la autodeterminaci&oacute;n informativa;</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>Utilizar&aacute; los Datos Personales del Titular;</p>

  <p>&nbsp;</p>

  <p><strong>c)&nbsp; &nbsp;</strong>Realizar&aacute; en su caso las transferencias de Datos Personales a terceros.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Datos Personales que se recaban</strong></p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; puede tratar Datos Personales, es decir, informaci&oacute;n que lo identifica o lo hace identificable. Algunos de estos datos personales son, por ejemplo: nombre, g&eacute;nero, correo electr&oacute;nico, domicilio postal,
    domicilio de entrega (en caso de pedidos), n&uacute;mero de identificaci&oacute;n de documento, fecha de nacimiento, datos de pago (tales como, n&uacute;mero de tarjeta de cr&eacute;dito, vigencia), datos de facturaci&oacute;n, fecha de nacimiento;
    n&uacute;mero de tel&eacute;fono fijo y/o celular; Registro Federal de Contribuyentes (RFC); n&uacute;mero de tarjetas y/o cuentas, entre otros.</p>

  <p>&nbsp;</p>

  <p>Estos datos personales usted los proporciona voluntariamente al decidir acceder y/o usar las plataformas tecnologicas de las cuales &ldquo;EL RESPONSABLE&rdquo; sea titular como tambi&eacute;n participar en boletines, foros, obtener soporte t&eacute;cnico,
    registrarse para cierta actividad, ordenar productos o servicios y al registrarse para participar en otras actividades que &ldquo;EL RESPONSABLE&rdquo; ofrezca.</p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; podr&aacute; interrelacionar la informaci&oacute;n que usted proporciona a &ldquo;EL RESPONSABLE&rdquo; con otra informaci&oacute;n que usted haya voluntariamente proporcionado a terceros. Lo anterior, a fin de adaptar nuestros
    productos o servicios y nuestras promociones a sus preferencias. La recolecci&oacute;n de datos personales podr&aacute; efectuarse por ejemplo:</p>

  <p>&nbsp;</p>

  <ul>
    <li>Mediante el acceso o uso de las plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular.</li>
    <li>Mediante el uso de correos electr&oacute;nicos y visitas a nuestras oficinas. Cuando se comunica v&iacute;a telef&oacute;nica con nosotros.</li>
    <li>Mediante la utilizaci&oacute;n de los sitios Web de &ldquo;EL RESPONSABLE&rdquo;.</li>
  </ul>

  <p>&nbsp;</p>

  <ul>
    <li>Mediante el suministro voluntario de informaci&oacute;n a trav&eacute;s de las ventanas de di&aacute;logo habilitadas en los sitios de &ldquo;EL RESPONSABLE&rdquo; o en las plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular.</li>
    <li>Mediante el uso de herramientas de captura autom&aacute;tica de datos a traves de la plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular.</li>
    <li>Mediante fuentes de acceso p&uacute;blico y de otras fuentes disponibles en el mercado.</li>
  </ul>

  <p>&nbsp;</p>

  <p>Dichas herramientas le permiten recolectar la informaci&oacute;n que env&iacute;a su navegador o dispositivo movil a dichos sitios Web, tales como el tipo de navegador que utiliza, el idioma de usuario, los tiempos de acceso, y la direcci&oacute;n IP
    de sitios Web que utiliz&oacute; para acceder a los sitios de &ldquo;EL RESPONSABLE o del Encargado como tambien a las plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular, el tipo de productos requeridos para su entrega,
    el lugar de entrega de los mismos, entre otro tipo de informaci&oacute;n relativa a los productos o servicios que &ldquo;EL RESPONSABLE&rdquo; ofrezca.</p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; tambi&eacute;n puede recolectar Datos Personales de fuentes de acceso p&uacute;blico y de otras fuentes disponibles en el mercado a las que el Titular pudo haber dado su consentimiento para compartir su informaci&oacute;n
    personal o que le haya proporcionado informaci&oacute;n demogr&aacute;fica an&oacute;nima asociada a un &aacute;rea geogr&aacute;fica determinada.</p>

  <p>&nbsp;</p>

  <p>Asimismo, dentro de la documentaci&oacute;n que puede ser recolectada por &ldquo;EL RESPONSABLE&rdquo; para la verificaci&oacute;n de la identidad del Titular de los Datos Personales se encuentra la credencial de elector; la cartilla de identidad del
    servicio militar nacional liberada; la c&eacute;dula de registro en el RFC; la c&eacute;dula de registro con la CURP; el comprobante de domicilio; el informe especial de cr&eacute;dito emitido por una Sociedad de Informaci&oacute;n Crediticia, entre
    otros.</p>

  <p>&nbsp;</p>

  <p>Para el caso de postulantes a empleados podr&iacute;a tambi&eacute;n solicitarse, entre otros, el acta de nacimiento; comprobantes de estudios; el estado de cuenta de la Administradora de Fondos para el retiro (Afore); la hoja de retenci&oacute;n de
    impuestos, as&iacute; como de los estudio psicom&eacute;trico, m&eacute;dico y socio-econ&oacute;mico efectuados por &ldquo;EL RESPONSABLE&rdquo;. Tambi&eacute;n le podr&iacute;an ser solicitados los Datos Personales de sus familiares, dependientes
    o beneficiarios y la documentaci&oacute;n comprobatoria conducente.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Usos y finalidades de sus datos personales</strong></p>

  <p>&nbsp;</p>

  <p>Los Datos Personales que proporcione a &ldquo;EL RESPONSABLE&rdquo; ser&aacute;n tratados, adem&aacute;s de para cumplir con las obligaciones derivadas de la relaci&oacute;n que con usted pudiera crearse, con las siguientes finalidades:</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp;&nbsp; </strong>Proporcionarle informaci&oacute;n sobre productos, servicios u otras actividades o propuestas de inter&eacute;s de &ldquo;EL RESPONSABLE&rdquo; y sus empresas subsidiarias, afiliadas y su casa matriz, en su caso.</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>Utilizamos la informaci&oacute;n que recopilamos para brindarle los productos y servicios que solicita, para informarle acerca de otros productos y servicios ofrecidos por &ldquo;EL RESPONSABLE&rdquo; y para
    administrar nuestros sitios, servicios, productos o las plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular.</p>

  <p>&nbsp;</p>

  <p><strong>c) &nbsp;</strong>Tambi&eacute;n para realizar estudios sobre datos demogr&aacute;ficos, intereses y comportamiento; estudios de mercado y de consumo a efecto de adquirir y ofrecer productos y servicios personalizados, as&iacute; como publicidad
    y contenidos m&aacute;s adecuados a sus necesidades.</p>

  <p>&nbsp;</p>

  <p><strong>d</strong><strong>) &nbsp;</strong>Con el objeto de poder entregar productos, servicios y soluciones, &ldquo;EL RESPONSABLE&rdquo; y/o sus encargados han celebrado o celebrar&aacute;n diversos acuerdos comerciales con diversos proveedores tanto
    en territorio nacional como en el extranjero, para que le suministren los productos y servicios ofrecidos por &ldquo;EL RESPONSABLE&rdquo;, en el entendido de que dichos proveedores est&aacute;n obligados, a mantener la confidencialidad de los datos
    personales suministrados y a observar el presente Aviso.</p>

  <p>&nbsp;</p>

  <p><strong>e)&nbsp; &nbsp;</strong>Para formalizar el proceso transaccional con sus clientes, consumidores, proveedores y otros terceros as&iacute; como gestionar el proceso de requisici&oacute;n, evaluaci&oacute;n y adjudicaci&oacute;n de proveedores
    y otros terceros con los que tratamos.</p>

  <p>&nbsp;</p>

  <p><strong>f</strong><strong>) &nbsp;</strong>Para solicitarle que responda algunas encuestas de satisfacci&oacute;n respecto a nuestros productos y servicios.</p>

  <p>&nbsp;</p>

  <p><strong>g</strong><strong>) &nbsp;</strong>Para contactarlo en relaci&oacute;n con el resultado de las evaluaciones que haya realizado respecto de los productos y servicios de &ldquo;EL RESPONSABLE&rdquo; o alg&uacute;n otro tema.</p>

  <p>&nbsp;</p>

  <p><strong>h</strong><strong>) &nbsp;</strong>Para dar seguimiento a alg&uacute;n problema que haya surgido respecto a pedidos y/o entrega de producto o servicio.</p>

  <p>&nbsp;</p>

  <p><strong>i)&nbsp;&nbsp;&nbsp; </strong>Solicitar factura o comprobante fiscal digital.</p>

  <p>&nbsp;</p>

  <p><strong>j)&nbsp;&nbsp; &nbsp;</strong>En su caso, verificar la capacidad de cr&eacute;dito y/o pago del Titular, lo cual se podr&aacute; efectuar a trav&eacute;s de las sociedades de informaci&oacute;n crediticia, en t&eacute;rminos de la Ley para regular
    las Sociedades de Informaci&oacute;n Crediticia.</p>

  <p>&nbsp;</p>

  <p><strong>k) &nbsp;</strong>En general, para hacerle llegar informaci&oacute;n de &ldquo;EL RESPONSABLE&rdquo; y sus empresas subsidiarias, afiliadas y su casa matriz, con fines publicitarios y de promoci&oacute;n.</p>

  <p>&nbsp;</p>

  <p>En caso que sus datos personales pretendan ser utilizados para una finalidad distinta a las anteriores, &ldquo;EL RESPONSABLE&rdquo; le notificar&aacute; por correo electr&oacute;nico o por tel&eacute;fono, a fin de obtener su &nbsp;consentimiento&nbsp;
    para &nbsp;el &nbsp;tratamiento &nbsp;de &nbsp;sus &nbsp;datos &nbsp;personales &nbsp;de &nbsp;acuerdo &nbsp;a &nbsp;las &nbsp;nuevas finalidades. De no recibir su consentimiento, para los casos en que es necesario, &ldquo;EL RESPONSABLE&rdquo; no
    utilizar&aacute; sus datos personales.</p>

  <p>&nbsp;</p>

  <p>Para el caso de los postulantes a empleados de &ldquo;EL RESPONSABLE&rdquo;, se llevar&aacute;n a cabo las siguientes actividades:</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp; &nbsp;</strong>Efectuar el proceso de reclutamiento y selecci&oacute;n de personal;</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>Realizar el proceso de contrataci&oacute;n;</p>

  <p>&nbsp;</p>

  <p><strong>c)&nbsp; &nbsp;</strong>Enviar al Titular la notificaci&oacute;n de ofertas, avisos y/o mensajes promocionales, que le ser&aacute;n enviados, a menos que el Titular manifieste expresamente su voluntad de no recibir tales ofertas. Ocasionalmente,
    tales ofertas pueden contener informaci&oacute;n de proveedores de &ldquo;EL RESPONSABLE&rdquo; &nbsp;u otros terceros.</p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; requiere compartir sus Datos Personales con proveedores de servicios de administraci&oacute;n y gesti&oacute;n de bases de datos; tratamiento automatizado de Datos Personales y su almacenamiento; autenticaci&oacute;n y validaci&oacute;n
    de correos electr&oacute;nicos; contrataci&oacute;n de personal; servicios de auditor&iacute;a, y otros servicios de naturaleza an&aacute;loga a las descritas.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Recolecci&oacute;n de datos al navegar en sitios y p&aacute;ginas web de &ldquo;EL RESPONSABLE&rdquo; y/o en l</strong><strong>as plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular. </strong></p>

  <p>&nbsp;</p>

  <p>Dentro de las herramientas de captura autom&aacute;tica de datos utilizadas por &ldquo;EL RESPONSABLE&rdquo; en sus sitios y p&aacute;ginas web se encuentran las cookies, los Web beacons, y los enlaces en los correos electr&oacute;nicos.</p>

  <p>&nbsp;</p>

  <p><strong>Uso de Cookies.- </strong>El correcto funcionamiento de los sitios de &ldquo;EL RESPONSABLE&rdquo; y/o de las plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular requieren de la habilitaci&oacute;n de &ldquo;cookies&rdquo;
    en su navegador de Internet. Las &quot;cookies&quot; son peque&ntilde;os archivos de datos transferidos por el sitio Web o la plataforma tecnologica al disco duro de su computadora o dispositivo m&oacute;vil cuando navega por el sitio o la plataformas
    tecnologicas, respectivamente. Las cookies pueden ser de sesi&oacute;n o permanentes. Las cookies de sesi&oacute;n no se quedan en su computadora o dispositivo m&oacute;vil despu&eacute;s de que usted cierra la sesi&oacute;n de su navegador, mientras
    que las cookies permanentes se quedan en las computadoras hasta que son eliminan o caducan. En la mayor&iacute;a de los &nbsp;navegadores &nbsp;las &nbsp;cookies &nbsp;se &nbsp;aceptan &nbsp;autom&aacute;ticamente &nbsp;en &nbsp;virtud &nbsp;de &nbsp;su
    &nbsp;configuraci&oacute;n predeterminada, usted puede ajustar las preferencias de su navegador para aceptar o rechazar las cookies. La desactivaci&oacute;n de las cookies puede inhabilitar diversas funciones de los sitios web de &ldquo;EL RESPONSABLE&rdquo;
    o que no se muestren correctamente. En caso de que usted prefiera eliminar la &nbsp;informaci&oacute;n &nbsp;de &nbsp;las &nbsp;cookies &nbsp;enviadas &nbsp;por &nbsp;&ldquo;EL &nbsp;RESPONSABLE&rdquo;,&nbsp; usted &nbsp;puede &nbsp;eliminar &nbsp;el
    archivo(s) al final de cada sesi&oacute;n del explorador. Informaci&oacute;n relevante puede ser consultada en los sitios de los principales navegadores de Internet. Lo anterior, con la finalidad, entre otras, de bridarle una mejor atenci&oacute;n
    de nuestros productos y/o servicios mediante la persistencia de cookies para hacer posible el conocimiento y/o resguardo de sus preferencias relativas a nuestros productos y/o servicios en las distintas sesiones en la que acceda y/o use nuestro sitio
    o las plataformas tecnologicas de las cual &ldquo;EL RESPONSABLE&rdquo; sea titular</p>

  <p>&nbsp;</p>

  <p><strong>Uso de Web beacons </strong>(tambi&eacute;n conocidos como etiquetas de Internet, etiquetas de p&iacute;xel y clear GIFs).- &ldquo;EL RESPONSABLE&rdquo; puede utilizar en su sitios web y en sus correos electr&oacute;nicos con formato HTML los
    Web beacons, solos o en combinaci&oacute;n con las cookies, para recopilar informaci&oacute;n sobre el uso de los sitios web y su interacci&oacute;n con el correo electr&oacute;nico. El Web beacon es una imagen electr&oacute;nica, llamada de un solo
    p&iacute;xel (1x1) o GIF que puede reconocer informaci&oacute;n que es procesada en su computadora, como el caso de las cookies, la hora y fecha en que el sitio y sus secciones son visualizados.</p>

  <p>&nbsp;</p>

  <p><strong>V</strong><strong>&iacute;nculos en los correos electr&oacute;nicos de &ldquo;EL RESPONSABLE&rdquo;.- </strong>Los correos electr&oacute;nicos que incluyen v&iacute;nculos que permiten a &ldquo;EL RESPONSABLE&rdquo; saber si usted activ&oacute;
    dicho v&iacute;nculo y visit&oacute; la p&aacute;gina web de destino, pudiendo esta informaci&oacute;n ser incluida en su perfil. En caso de que usted prefiera que &ldquo;EL RESPONSABLE&rdquo; no recolecte informaci&oacute;n sobre su interacci&oacute;n
    con dichos v&iacute;nculos, usted puede optar por modificar el formato de las comunicaciones de &ldquo;EL RESPONSABLE&rdquo; (por ejemplo, que el mensaje sea recibido en formato de texto y no en formato HTML) &nbsp;o &nbsp;puede &nbsp;hacer &nbsp;caso
    &nbsp;omiso &nbsp;del &nbsp;v&iacute;nculo &nbsp;y &nbsp;no &nbsp;acceder &nbsp;a &nbsp;su &nbsp;contenido.&nbsp; Los &nbsp;correos electr&oacute;nicos de &ldquo;EL RESPONSABLE&rdquo; pueden incluir v&iacute;nculos dise&ntilde;ados para dirigirlo
    a las secciones relevantes de los sitios Web, al re-direccionarlo a trav&eacute;s de los servidores de &ldquo;EL RESPONSABLE&rdquo;.</p>

  <p>&nbsp;</p>

  <p>El sistema de re-direccionamiento permite a &ldquo;EL RESPONSABLE&rdquo; modificar el URL de tales v&iacute;nculos en caso de ser necesario, tambi&eacute;n permiten a &ldquo;EL RESPONSABLE&rdquo; el determinar la eficacia de sus campa&ntilde;as de marketing
    en l&iacute;nea. Los Datos Personales que &ldquo;EL RESPONSABLE&rdquo; obtiene de sus fuentes comerciales pueden utilizarse junto con los Datos Personales que recolecta a trav&eacute;s de sus sitios web. Por ejemplo, &ldquo;EL RESPONSABLE&rdquo; podr&iacute;a
    comparar la informaci&oacute;n geogr&aacute;fica disociada adquirida de fuentes comerciales con la direcci&oacute;n IP recopilada por las herramientas de captura autom&aacute;tica de datos con el fin de proporcionarle informaci&oacute;n o promociones
    relevantes para su &aacute;rea geogr&aacute;fica.</p>

  <p>&nbsp;</p>

  <p><strong>Pr</strong><strong>ot</strong><strong>ecci&oacute;n a menores: </strong>En caso de que &ldquo;EL RESPONSABLE&rdquo; considere que los Datos Personales han sido proporcionados por un menor en contravenci&oacute;n al presente Aviso, &ldquo;EL
    RESPONSABLE&rdquo; proceder&aacute; a eliminar tales Datos Personales a la brevedad. Si usted se da cuenta que tales Datos Personales han sido proporcionados por un menor de 18 (dieciocho) a&ntilde;os, por favor env&iacute;e un correo electr&oacute;nico
    a la direcci&oacute;n: <strong>datospersonales@rappi.com</strong></p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>T</strong><strong>r</strong><strong>ansmisi&oacute;n y transferencia de Datos Personales</strong></p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; no compartir&aacute;, sin su consentimiento previo, sus datos personales con terceros,&nbsp; &nbsp;nacionales&nbsp; &nbsp;o&nbsp; &nbsp;extranjeros, &nbsp;fuera&nbsp; &nbsp;del&nbsp; &nbsp;grupo&nbsp; &nbsp;de&nbsp; &nbsp;compa&ntilde;&iacute;as&nbsp;
    &nbsp;y&nbsp; &nbsp;filiales&nbsp; &nbsp;de&nbsp; &nbsp;&ldquo;EL RESPONSABLE&rdquo;, salvo que:</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp; &nbsp;</strong>La ley o un mandato judicial as&iacute; lo requieran;</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>La informaci&oacute;n deba compartirse con contratistas de &ldquo;EL RESPONSABLE&rdquo; para llevar a cabo las operaciones internas y cumplir con las finalidades descritas (por ejemplo para enviarle un art&iacute;culo
    promocional solicitado por usted, hacer entrega de pedidos, almacenar la informaci&oacute;n f&iacute;sica o electr&oacute;nicamente);</p>

  <p>&nbsp;</p>

  <p><strong>c)&nbsp; &nbsp;</strong>Para proteger los derechos o bienes de &ldquo;EL RESPONSABLE&rdquo; o de sus clientes;</p>

  <p>&nbsp;</p>

  <p><strong>d</strong><strong>) &nbsp;</strong>Que dicha transferencia est&eacute; prevista en la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares.</p>

  <p>&nbsp;</p>

  <p>Habiendo le&iacute;do, entendido y acordado los t&eacute;rminos expuestos en este Aviso, el Titular manifiesta su consentimiento para que &ldquo;EL RESPONSABLE&rdquo; o cualquier Encargado realicen transferencias de Datos Personales a terceros nacionales
    o extranjeros, en el entendido de que el tratamiento que dichos terceros den a los Datos Personales del Titular deber&aacute; ajustarse a lo establecido en este Aviso.</p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; le informa al Titular que con el objeto de poder entregar productos, servicios y soluciones a sus clientes, consumidores, empleados, proveedores y dem&aacute;s usuarios de sus servicios, &ldquo;EL RESPONSABLE&rdquo; y/o
    sus Encargados han celebrado o celebrar&aacute;n diversos acuerdos comerciales con proveedores de productos y servicios, tanto en territorio nacional como en el extranjero, para que le suministren, entre otros servicios, los de: telecomunicaciones
    y correo electr&oacute;nico; administraci&oacute;n y gesti&oacute;n de bases de datos; tratamiento automatizado de Datos Personales y su almacenamiento; call center para atenci&oacute;n al cliente; autenticaci&oacute;n y validaci&oacute;n de correos
    electr&oacute;nicos; telemarketing; terminales de tarjeta de cr&eacute;dito; facturaci&oacute;n electr&oacute;nica; comercializaci&oacute;n; transporte e instalaci&oacute;n de productos; administraci&oacute;n de n&oacute;minas y beneficios de seguridad
    social; contrataci&oacute;n de personal; servicios de auditor&iacute;a y otros de naturaleza an&aacute;loga.</p>

  <p>&nbsp;</p>

  <p>La autorizaci&oacute;n del Titular faculta a &ldquo;EL RESPONSABLE&rdquo; y/o a sus Encargados a transmitir Datos Personales del Titular a dichos proveedores, en el entendido de que dichos proveedores est&aacute;n obligados, por virtud del contrato
    correspondiente, a mantener la confidencialidad de los Datos Personales suministrados por &ldquo;EL RESPONSABLE&rdquo; y/o sus Encargados y a observar el presente Aviso.</p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; y/o sus Encargados podr&aacute;n transferir los Datos Personales recolectados del Titular a cualquier otra sociedad del mismo grupo empresarial al que pertenezca &ldquo;EL RESPONSABLE&rdquo; &nbsp;y que operen con los mismos
    procesos y pol&iacute;ticas internas, sea que se encuentren en territorio nacional o en el extranjero para su tratamiento con las mismas finalidades descritas en este Aviso. Tambi&eacute;n podr&aacute; transferir sus Datos Personales a otros terceros
    que le apoyen para cumplir con los contratos o relaciones jur&iacute;dicas que tenga con el Titular.</p>

  <p>&nbsp;</p>

  <p>Su informaci&oacute;n personal puede transferirse, almacenarse y procesarse en un pa&iacute;s distinto de donde se proporcion&oacute;. S&iacute; lo hacemos, transferimos la informaci&oacute;n de conformidad con las leyes de protecci&oacute;n de la informaci&oacute;n
    aplicables. Tomamos medidas para proteger la informaci&oacute;n personal sin importar el pa&iacute;s donde se almacena o a donde se transfiere. Tenemos procedimientos y controles oportunos para procurar esta protecci&oacute;n.</p>

  <p>&nbsp;</p>

  <p>El Titular reconoce y acepta que &ldquo;EL RESPONSABLE&rdquo; &nbsp;no requiere de autorizaci&oacute;n ni confirmaci&oacute;n de dicho Titular para realizar transferencias de Datos Personales nacionales o internacionales en los casos previstos en el
    Art&iacute;culo 37 de la LFPDP o en cualquier otro caso de excepci&oacute;n previsto por la misma o la dem&aacute;s legislaci&oacute;n aplicable.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>S</strong><strong>eguridad</strong></p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; ha adoptado las medidas de seguridad, administrativas, t&eacute;cnicas y f&iacute;sicas, necesarias para proteger sus datos personales contra da&ntilde;o, p&eacute;rdida, alteraci&oacute;n, destrucci&oacute;n o el uso, acceso
    o tratamiento no autorizado. Sin embargo, &ldquo;EL RESPONSABLE&rdquo; no puede y por ende no garantiza que no existir&aacute; un acceso no autorizado a sus datos personales o que las comunicaciones est&eacute;n libres de toda interrupci&oacute;n,
    error o intercepci&oacute;n por terceros no autorizados.</p>

  <p>&nbsp;</p>

  <p>El acceso a sus datos personales en poder de &ldquo;EL RESPONSABLE&rdquo; se limitar&aacute; a las personas que necesiten tener acceso a dicha informaci&oacute;n, con el prop&oacute;sito de llevar a cabo las finalidades identificadas.</p>

  <p>&nbsp;</p>

  <p>En caso que al momento de proporcionar sus Datos Personales a &ldquo;EL RESPONSABLE&rdquo; se le asigne un nombre de usuario y contrase&ntilde;a, usted ser&aacute; responsable de que dicha informaci&oacute;n se mantenga confidencial. Le sugerimos no
    compartir esta informaci&oacute;n con nadie. Si comparte su equipo, procure siempre cerrar la sesi&oacute;n antes de salir de un sitio o servicio a fin de evitar que terceros no autorizados puedan acceder a su informaci&oacute;n.</p>

  <p>&nbsp;</p>

  <p>Los Datos Personales del Titular recolectados por &ldquo;EL RESPONSABLE&rdquo; y/o sus Encargados se encontrar&aacute;n protegidos por medidas de seguridad administrativas, t&eacute;cnicas y f&iacute;sicas adecuadas contra el da&ntilde;o, p&eacute;rdida,
    alteraci&oacute;n, destrucci&oacute;n o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la LFPDP y de la regulaci&oacute;n administrativa derivada de la misma.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Derechos que le corresponden</strong></p>

  <p>&nbsp;</p>

  <p>Usted como titular de datos personales podr&aacute;, solicitar ante el Departamento de Protecci&oacute;n de Datos Personales de &ldquo;EL RESPONSABLE&rdquo; el acceso, rectificaci&oacute;n, cancelaci&oacute;n u oposici&oacute;n (derechos ARCO), respecto
    de sus datos personales.</p>

  <p>&nbsp;</p>

  <p>Los Derechos ARCO son los siguientes:</p>

  <p>&nbsp;</p>

  <p>Acceso.- Que se le informe cu&aacute;les de sus datos personales est&aacute;n contenidos en las bases de datos de &ldquo;EL RESPONSABLE&rdquo; y para qu&eacute; se utilizan dichos datos personales, el origen de dichos datos y las comunicaciones que
    se hayan realizado con los mismos.</p>

  <p>&nbsp;</p>

  <p>Rectificaci&oacute;n.- Que se corrijan o actualicen sus datos personales en caso de que sean inexactos o incompletos. Usted deber&aacute; informar a &ldquo;EL RESPONSABLE&rdquo; de los cambios que se deban hacer a sus datos personales, cuando dichos
    cambios solo sean de su conocimiento.</p>

  <p>&nbsp;</p>

  <p>Cancelaci&oacute;n.- Que sus datos personales sean dados de baja total o parcialmente de las bases de datos de &ldquo;EL RESPONSABLE&rdquo;. Esta solicitud dar&aacute; lugar a un periodo de bloqueo tras el cual proceder&aacute; la supresi&oacute;n de
    los datos. Existen casos en los que la cancelaci&oacute;n no ser&aacute; posible en t&eacute;rminos de la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares y otras disposiciones legales aplicables.</p>

  <p>&nbsp;</p>

  <p>Oposici&oacute;n.- Oponerse por causa leg&iacute;tima al tratamiento de sus datos personales por parte de &ldquo;EL RESPONSABLE&rdquo; o limitar su uso o divulgaci&oacute;n. En los casos que la oposici&oacute;n verse sobre la recepci&oacute;n de ciertos
    comunicados, en dichos comunicados se incluir&aacute; la opci&oacute;n para salir de la lista de env&iacute;o y dejar de recibirlos.</p>

  <p>&nbsp;</p>

  <p>Usted tiene, en todo momento, derecho de acceder, rectificar y cancelar sus datos personales, as&iacute; como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya proporcionado presentando una solicitud con
    la informaci&oacute;n y documentaci&oacute;n siguiente:</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp; &nbsp;</strong>Nombre del Titular y domicilio u otro medio para comunicarle la respuesta a su solicitud;</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>Los documentos que acrediten su identidad (copia simple en formato impreso o electr&oacute;nico de su credencial de elector, pasaporte o FM-3) o, en su caso, la representaci&oacute;n legal del Titular (copia
    simple en formato impreso o electr&oacute;nico de la carta poder simple con firma aut&oacute;grafa del Titular, el mandatario y sus correspondientes identificaciones oficiales &ndash; credencial de elector, pasaporte o FM-3);</p>

  <p>&nbsp;</p>

  <p><strong>c) &nbsp;</strong>La descripci&oacute;n clara y precisa de los Datos Personales respecto de los que busca ejercer alguno de los Derechos ARCO, y</p>

  <p>&nbsp;</p>

  <p><strong>d</strong><strong>) &nbsp;</strong>Cualquier otro elemento o documento que facilite la localizaci&oacute;n de los Datos Personales del Titular.</p>

  <p>&nbsp;</p>

  <p><strong>e)&nbsp; &nbsp;</strong>En el caso de las solicitudes de rectificaci&oacute;n de Datos Personales, el Titular respectivo deber&aacute; tambi&eacute;n indicar las modificaciones a realizarse y aportar la documentaci&oacute;n que sustente su petici&oacute;n.</p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; o sus Encargados le responder&aacute;n al Titular respectivo en un plazo m&aacute;ximo de veinte d&iacute;as h&aacute;biles, contados desde la fecha en que se recibi&oacute; la solicitud. Los plazos antes referidos podr&aacute;n
    ser ampliados s&oacute;lo en t&eacute;rminos de la LFPDP.</p>

  <p>&nbsp;</p>

  <p>La entrega de los Datos Personales ser&aacute; gratuita, solamente le corresponder&aacute; cubrir los gastos justificados de env&iacute;o o el costo de reproducci&oacute;n en copias u otros formatos. Para efectos de las solicitudes de cancelaci&oacute;n
    de Datos Personales, adem&aacute;s de lo dispuesto por el presente Aviso, se estar&aacute; a lo dispuesto en el Art&iacute;culo 26 de la LFPDP, incluyendo los casos de excepci&oacute;n de cancelaci&oacute;n de Datos Personales ah&iacute; se&ntilde;alados.</p>

  <p>&nbsp;</p>

  <p>La presentaci&oacute;n de una solicitud de oposici&oacute;n del uso de Datos Personales por el Titular de los mismos, dar&aacute; a &ldquo;EL RESPONSABLE&rdquo; la facultad de oponerse al uso de los Datos Personales que como Titular haya entregado al
    oponente.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Consentimiento</strong></p>

  <p>&nbsp;</p>

  <p>Para efectos de lo dispuesto en la LFPDP y en particular en su Art&iacute;culo 17, el Titular manifiesta:</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp; &nbsp;</strong>Que el presente Aviso le ha sido dado a conocer por &ldquo;EL RESPONSABLE&rdquo;;</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>Haber le&iacute;do, entendido y acordado los t&eacute;rminos expuestos en este Aviso, por lo que otorga su consentimiento respecto del tratamiento de sus Datos Personales para efectos de la LFPDP y dem&aacute;s
    legislaci&oacute;n aplicable. En caso de que los Datos Personales recopilados incluyan Datos Personales sensibles o financieros, mediante la firma del contrato correspondiente, sea en formato impreso, o utilizando medios electr&oacute;nicos y sus
    correspondientes procesos para la formaci&oacute;n del consentimiento, por ejemplo, a t&iacute;tulo enunciativo mas no limitativo, mediante el suministro de Datos Personales a trav&eacute;s de las ventanas de di&aacute;logo, o la visualizaci&oacute;n
    y recorrido en pantalla de t&eacute;rminos y condiciones, se llevar&aacute;n a cabo actos que constituyen el consentimiento expreso del titular en t&eacute;rminos del segundo p&aacute;rrafo del art&iacute;culo 8 de la LFPDP y dem&aacute;s legislaci&oacute;n
    aplicable y;</p>

  <p>&nbsp;</p>

  <p><strong>c) &nbsp;</strong>Que otorga su consentimiento para que &ldquo;EL RESPONSABLE&rdquo; o sus Encargados realicen transferencias de Datos Personales a terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos terceros
    den a sus Datos Personales deber&aacute; ajustarse a lo establecido en este Aviso.</p>

  <p>&nbsp;</p>

  <p>En caso de que el Titular no se oponga a los t&eacute;rminos del Aviso se considerar&aacute; acordado y consentido su contenido, en t&eacute;rminos del tercer p&aacute;rrafo del art&iacute;culo 8 de la LFPDP. El consentimiento del Titular podr&aacute;
    ser revocado en cualquier momento por &eacute;ste sin que se le atribuyan efectos retroactivos conforme a los procedimientos establecidos m&aacute;s adelante para ello en este Aviso.</p>

  <p>&nbsp;</p>

  <p>No obstante cualquier disposici&oacute;n de este Aviso, el Titular reconoce que no se requerir&aacute; de su consentimiento para el tratamiento de Datos Personales por parte de &ldquo;EL RESPONSABLE&rdquo; o de terceros en cualquiera de los casos se&ntilde;alados
    en el Art&iacute;culo 10 de la LFPDP.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p>Al proporcionar cualquier tipo de informaci&oacute;n, incluyendo sus datos personales, usted expresamente:</p>

  <p>&nbsp;</p>

  <p><strong>a)&nbsp; &nbsp;</strong>Acepta las condiciones contenidas en el presente Aviso;</p>

  <p>&nbsp;</p>

  <p><strong>b</strong><strong>) &nbsp;</strong>Est&aacute; de acuerdo en que la informaci&oacute;n proporcionada por usted pueda almacenarse, usarse y, en general, tratarse para los fines que se se&ntilde;alan, incluso para fines comerciales y de promoci&oacute;n;</p>

  <p>&nbsp;</p>

  <p><strong>c)&nbsp; &nbsp;</strong>Otorga a &ldquo;EL RESPONSABLE&rdquo; autorizaci&oacute;n para obtener, compilar, almacenar, compartir, comunicar, transmitir y usar tal informaci&oacute;n de cualquier manera o forma, de conformidad con las condiciones
    establecidas en el presente y las leyes aplicables.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>L</strong><strong>imitaci&oacute;n de uso</strong></p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; y/o sus Encargados conservar&aacute;n los Datos Personales del Titular durante el tiempo que sea necesario para procesar sus solicitudes de informaci&oacute;n, productos y/o servicios, as&iacute; como para mantener los registros
    contables, financieros y de auditoria en t&eacute;rminos de la LFPDP y de la legislaci&oacute;n mercantil, fiscal y administrativa vigente. Adem&aacute;s de controlar la divulgaci&oacute;n de dichos datos o informaci&oacute;n de socios comerciales.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Contacto</strong></p>

  <p>&nbsp;</p>

  <p>Preguntas, &nbsp;comentarios, &nbsp;ejercicio &nbsp;de &nbsp;derechos &nbsp;al &nbsp;Departamento &nbsp;de &nbsp;Protecci&oacute;n &nbsp;de &nbsp;Datos</p>

  <p>Personales de &ldquo;EL RESPONSABLE&rdquo;</p>

  <p>&nbsp;</p>

  <p>Correo electr&oacute;nico: <strong>atencionaclientes@rappi.com</strong></p>

  <p>&nbsp;</p>

  <p>Domicilio: en <strong>Avenida Medell&iacute;n No. 153, piso 4, Col. Roma Norte, Del. Cuauht&eacute;moc, C.P. 06700, M&eacute;xico, D.F.</strong></p>

  <p>&nbsp;</p>

  <p>Atenci&oacute;n: Departamento Jur&iacute;dico.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><strong>Cambios al Aviso de Privacidad</strong></p>

  <p>&nbsp;</p>

  <p>&ldquo;EL RESPONSABLE&rdquo; se reserva el derecho de modificar o enmendar, total o parcialmente, el presente Aviso de Privacidad en cualquier momento. El Aviso de Privacidad modificado se le har&aacute; llegar al correo electr&oacute;nico que nos proporcion&oacute;
    o se publicar&aacute; en la p&aacute;gina web <strong>ww</strong><strong>w</strong><strong>.rappi.com .</strong> La falta de oposici&oacute;n al nuevo Aviso de Privacidad dentro de los 5 d&iacute;as h&aacute;biles siguientes a su recepci&oacute;n
    se entender&aacute; como su aceptaci&oacute;n a los t&eacute;rminos que en &eacute;l se establecen.</p>

  <p>&nbsp;</p>
</div>
