<div class="pageNotFound text-center">
    <div class="container blankScreen">
        <div class="row">
            <div class="col-sm-12">
                <div class="brand"><a href="#"><img src="assets/images/logo-rappi-xs.png"></a></div>
                <div class="content">
                    <h1>4<span><img src="assets/images/coffee-cup.png"></span>4</h1>
                    <h2>PÁgina no encontrada</h2>
                    <p class="accent-color">¿Te confundiste?, este no es el link que estás buscando, por favor intenta de nuevo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btmTC">
        <p>Copyright (c) 2016 Rappi.com</p>
    </div>
</div>