<div class="popUp-wrapper loginPopup">
    <div class="popUp-Outer text-center orderExists pd-btm40">
        <a class="close-global-black" {{action 'creditCardClose'}}></a>

        <div class="popUp-Outer text-center searchingPopup padding-popup ">
            <iframe onload={{action 'loaded'}} src="{{redirectURL}}" width="{{creditCardWisth}}" height="380" frameborder="0" allowtransparency="true" style="padding-right: 25px; padding-top: 25px;"></iframe>
        </div>
    </div>

</div>