<div class="col-md-12">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-centre-mexico" >
        <img src="assets/images/logo-rappi.png"/>
    </div>
    <div class="col-md-4 text-right-mexico">
        <a href={{contactFacebook}}>
            <img src="assets/images/facebook.png" class="mexico-icons"/>
        </a>
        <a href={{contactTwitter}}>
            <img src="assets/images/twitter.png" class="mexico-icons"/>
        </a>
        <a href="https://www.youtube.com/watch?v=GFxqtXRFr7I">
            <img src="assets/images/youtube.png" class="mexico-icons"/>
        </a>
    </div>
</div>
<div class="col-md-12 text-centre-mexico bg-main-block">
    <div class="col-md-6 bg-image bg-image-left">

    </div>
    <div class="col-md-6 bg-image bg-image-right">

    </div>
    <div class="gradient-block">
        <span class="text-span">DESCARGA NUESTRA APP</span>
        <img src="assets/images/applei-phone-6.png" class="iphone-border"/>
    </div>

    <div class="header-block">
        <span class="header-span">TODO A DOMICILIO</span>
    </div>
    <a href="https://itunes.apple.com/co/app/rappi/id984044296?mt=8" target="_blank" class="apple-button">
        <img src="assets/images/app-store-image.png"/>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.grability.rappi&hl=es_419" target="_blank" class="android-btn">
        <img src="assets/images/google-play-button-2.png"/>
    </a>
    <img src="assets/images/cesta.png" class="basket-phn"/>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="hecho_con">
            <span>Hecho con</span>
            <span class="icon-heart"></span>
            <span>en Latinoamérica</span>
        </div>
    </div>
    <div class="col-sm-12 text-center text-copyright">
        <span>&#169; 2016 RAPPI. Todos los derechos reservados</span>
        <br>
      {{#unless serverUrl.payPalENV}}
          <a {{action 'privacy'}}>Aviso de privacidad</a> | <a {{action 'terms'}}>Términos y condiciones</a>
      {{/unless}}
    </div>
    <div class="col-sm-12 text-center" style="color: #bbb;">
        BOGOTÁ (1) 3163526 MEDELLIN (4) 6045664 BARRANQUILLA (5) 3853213 CALI (2) 4862047
    </div>
</div>