{{#if model}}
    <div class="container col-xs-12">
        <h1>AVISO DE PRIVACIDAD</h1>

        <p>&nbsp;</p>

        <p>El presente documento constituye el Aviso de Privacidad para efectos de lo dispuesto en la Ley Federal de
            Protección de Datos Personales en Posesión de los Particulares (en adelante la <b>“LFPDP”</b>) y las
            disposiciones
            que
            emanan de ella o se relacionan con la misma. Este Aviso de Privacidad (en lo sucesivo referido como <b>“Aviso”</b>)
            aplica a la información personal recopilada sobre el Titular por <b>TECNOLOGÍAS RAPPI, S.A.P.I. DE C.V.</b>,
            en su
            carácter de Responsable.</p>

        <p>&nbsp;</p>

        <p>En <b>TECNOLIGÍAS RAPPI, S.A.P.I. DE C.V.,</b> , con domicilio en <b>Avenida Medellín No. 153, piso 4, Col.
            Roma Norte,
            Del. Cuauhtémoc, C.P. 06700, Ciudad de México</b>, estamos conscientes que usted tiene derecho a conocer qué
            información recabamos de usted y nuestras prácticas en relación con dicha información. Las condiciones
            contenidas en el presente son aplicables a toda la información que se recaba a nombre de y por <b>TECNOLIGÍAS
                RAPPI, S.A.P.I. DE C.V.</b>, (en adelante <b>“EL RESPONSABLE”</b>).
        </p>

        <p>&nbsp;</p>

        <p>
            Para los efectos del presente Aviso, los términos que se utilicen en éste y que no estén definidos en el
            mismo
            tendrán el significado que se les atribuye en la LFPDP. El presente Aviso tiene por objeto establecer los
            términos y condiciones en virtud de las cuales “EL RESPONSABLE” (o el Encargado que designe “EL
            RESPONSABLE”):
        </p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong> Recibirá y protegerá los Datos Personales del Titular, a efecto
            de proteger su privacidad y su derecho a la
            autodeterminación informativa;</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong>Utilizará los Datos Personales del Titular;</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong>Realizará en su caso las transferencias de Datos Personales a
            terceros.


        </p>

        <p>&nbsp;</p>

        <p><strong>Datos Personales que se recaban</strong></p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” puede tratar Datos Personales, es decir, información que lo identifica o lo hace
            identificable.
            Algunos de estos datos personales son, por ejemplo: nombre, género, correo electrónico, domicilio postal,
            domicilio de entrega (en caso de pedidos), número de identificación de documento, fecha de nacimiento, datos
            de
            pago (tales como, número de tarjeta de crédito, vigencia), datos de facturación, fecha de nacimiento; número
            de
            teléfono fijo y/o celular; Registro Federal de Contribuyentes (RFC); número de tarjetas y/o cuentas, entre
            otros.</p>

        <p>&nbsp;</p>

        <p>Estos datos personales usted los proporciona voluntariamente al decidir acceder y/o usar las plataformas
            tecnologicas de las cuales “EL RESPONSABLE” sea titular como también participar en boletines, foros, obtener
            soporte técnico, registrarse para cierta actividad, ordenar productos o servicios y al registrarse para
            participar en otras actividades que “EL RESPONSABLE” ofrezca.</p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” podrá interrelacionar la información que usted proporciona a “EL RESPONSABLE” con otra
            información que usted haya voluntariamente proporcionado a terceros. Lo anterior, a fin de adaptar nuestros
            productos o servicios y nuestras promociones a sus preferencias. La recolección de datos personales podrá
            efectuarse por ejemplo:</p>

        <p>&nbsp;</p>

        <ul>
            <li>Mediante el acceso o uso de las plataformas tecnologicas de las cual “EL RESPONSABLE” sea titular.</li>
            <li>Mediante el uso de correos electrónicos y visitas a nuestras oficinas. Cuando se comunica vía telefónica
                con
                nosotros.
            </li>
            <li>
                Mediante la utilización de los sitios Web de “EL RESPONSABLE”.
            </li>
            <li>
                Mediante el suministro voluntario de información a través de las ventanas de diálogo habilitadas en los
                sitios
                de “EL RESPONSABLE” o en las plataformas tecnologicas de las cual “EL RESPONSABLE” sea titular.
            </li>
            <li>
                Mediante el uso de herramientas de captura automática de datos a traves de la plataformas tecnologicas
                de las
                cual “EL RESPONSABLE” sea titular.
            </li>
            <li>
                Mediante fuentes de acceso público y de otras fuentes disponibles en el mercado.
            </li>
        </ul>
        <p>&nbsp;</p>

        <p>
            Dichas herramientas le permiten recolectar la información que envía su navegador o dispositivo movil a
            dichos
            sitios Web, tales como el tipo de navegador que utiliza, el idioma de usuario, los tiempos de acceso, y
            la
            dirección IP de sitios Web que utilizó para acceder a los sitios de “EL RESPONSABLE o del Encargado como
            tambien
            a las plataformas tecnologicas de las cual “EL RESPONSABLE” sea titular, el tipo de productos requeridos
            para su
            entrega, el lugar de entrega de los mismos, entre otro tipo de información relativa a los productos o
            servicios
            que “EL RESPONSABLE” ofrezca.</p>

        <p>&nbsp;</p>

        <p>

            “EL RESPONSABLE” también puede recolectar Datos Personales de fuentes de acceso público y de otras
            fuentes
            disponibles en el mercado a las que el Titular pudo haber dado su consentimiento para compartir su
            información
            personal o que le haya proporcionado información demográfica anónima asociada a un área geográfica
            determinada.</p>

        <p>&nbsp;</p>

        <p>

            Asimismo, dentro de la documentación que puede ser recolectada por “EL RESPONSABLE” para la verificación
            de la
            identidad del Titular de los Datos Personales se encuentra la credencial de elector; la cartilla de
            identidad
            del servicio militar nacional liberada; la cédula de registro en el RFC; la cédula de registro con la
            CURP; el
            comprobante de domicilio; el informe especial de crédito emitido por una Sociedad de Información
            Crediticia,
            entre otros.</p>

        <p>&nbsp;</p>

        <p>

            Para el caso de postulantes a empleados podría también solicitarse, entre otros, el acta de nacimiento;
            comprobantes de estudios; el estado de cuenta de la Administradora de Fondos para el retiro (Afore); la
            hoja de
            retención de impuestos, así como de los estudio psicométrico, médico y socio-económico efectuados por
            “EL
            RESPONSABLE”. También le podrían ser solicitados los Datos Personales de sus familiares, dependientes o
            beneficiarios y la documentación comprobatoria conducente.

        </p>

        <p>&nbsp;</p>

        <p><strong>Usos y finalidades de sus datos personales</strong></p>

        <p>&nbsp;</p>

        <p>

            Los Datos Personales que proporcione a “EL RESPONSABLE” serán tratados, además de para cumplir con las
            obligaciones derivadas de la relación que con usted pudiera crearse, con las siguientes finalidades:</p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong>Proporcionarle información sobre productos, servicios u otras
            actividades o propuestas de interés de
            “EL
            RESPONSABLE” y sus empresas subsidiarias, afiliadas y su casa matriz, en su caso.</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong>Utilizamos la información que recopilamos para brindarle los
            productos y servicios que solicita, para
            informarle acerca de otros productos y servicios ofrecidos por “EL RESPONSABLE” y para administrar
            nuestros
            sitios, servicios, productos o las plataformas tecnologicas de las cual “EL RESPONSABLE” sea titular.</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong>También para realizar estudios sobre datos demográficos, intereses
            y comportamiento; estudios de
            mercado y de
            consumo a efecto de adquirir y ofrecer productos y servicios personalizados, así como publicidad y
            contenidos
            más adecuados a sus necesidades.</p>

        <p>&nbsp;</p>

        <p><strong>d</strong><strong>) &nbsp;</strong>Con el objeto de poder entregar productos, servicios y soluciones,
            “EL RESPONSABLE” y/o sus
            encargados han
            celebrado o celebrarán diversos acuerdos comerciales con diversos proveedores tanto en territorio
            nacional como
            en el extranjero, para que le suministren los productos y servicios ofrecidos por “EL RESPONSABLE”, en
            el
            entendido de que dichos proveedores están obligados, a mantener la confidencialidad de los datos
            personales
            suministrados y a observar el presente Aviso.</p>

        <p>&nbsp;</p>

        <p><strong>e</strong><strong>) &nbsp;</strong>Para formalizar el proceso transaccional con sus clientes,
            consumidores, proveedores y otros terceros
            así
            como gestionar el proceso de requisición, evaluación y adjudicación de proveedores y otros terceros con
            los que
            tratamos.</p>

        <p>&nbsp;</p>

        <p><strong>f</strong><strong>) &nbsp;</strong>Para solicitarle que responda algunas encuestas de satisfacción
            respecto a nuestros productos y
            servicios.</p>

        <p>&nbsp;</p>

        <p><strong>g</strong><strong>) &nbsp;</strong>Para contactarlo en relación con el resultado de las evaluaciones
            que haya realizado respecto de los
            productos y servicios de “EL RESPONSABLE” o algún otro tema.</p>

        <p>&nbsp;</p>

        <p><strong>h</strong><strong>) &nbsp;</strong>Para dar seguimiento a algún problema que haya surgido respecto a
            pedidos y/o entrega de producto o
            servicio.</p>

        <p>&nbsp;</p>

        <p><strong>i</strong><strong>) &nbsp;</strong>Solicitar factura o comprobante fiscal digital.</p>

        <p>&nbsp;</p>

        <p><strong>j</strong><strong>) &nbsp;</strong>En su caso, verificar la capacidad de crédito y/o pago del
            Titular, lo cual se podrá efectuar a
            través de las
            sociedades de información crediticia, en términos de la Ley para regular las Sociedades de Información
            Crediticia.</p>

        <p>&nbsp;</p>

        <p><strong>k</strong><strong>) &nbsp;</strong>En general, para hacerle llegar información de “EL RESPONSABLE” y
            sus empresas subsidiarias,
            afiliadas y su
            casa matriz, con fines publicitarios y de promoción.</p>

        <p>&nbsp;</p>

        <p>En caso que sus datos personales pretendan ser utilizados para una finalidad distinta a las anteriores,
            “EL
            RESPONSABLE” le notificará por correo electrónico o por teléfono, a fin de obtener su consentimiento
            para el
            tratamiento de sus datos personales de acuerdo a las nuevas finalidades. De no recibir su
            consentimiento, para
            los casos en que es necesario, “EL RESPONSABLE” no utilizará sus datos personales.</p>

        <p>&nbsp;</p>

        <p>Para el caso de los postulantes a empleados de “EL RESPONSABLE”, se llevarán a cabo las siguientes
            actividades:</p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong> Efectuar el proceso de reclutamiento y selección de personal;</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong> Realizar el proceso de contratación;</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong> Enviar al Titular la notificación de ofertas, avisos y/o mensajes
            promocionales, que le serán
            enviados, a
            menos que el Titular manifieste expresamente su voluntad de no recibir tales ofertas. Ocasionalmente,
            tales
            ofertas pueden contener información de proveedores de “EL RESPONSABLE” u otros terceros.</p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” requiere compartir sus Datos Personales con proveedores de servicios de administración
            y
            gestión de bases de datos; tratamiento automatizado de Datos Personales y su almacenamiento;
            autenticación y
            validación de correos electrónicos; contratación de personal; servicios de auditoría, y otros servicios
            de
            naturaleza análoga a las descritas.</p>

        <p>&nbsp;</p>

        <p><strong>Recolección de datos al navegar en sitios y páginas web de “EL RESPONSABLE” y/o en las plataformas
            tecnologicas
            de las cual “EL RESPONSABLE” sea titular.</strong></p>

        <p>&nbsp;</p>

        <p>Dentro de las herramientas de captura automática de datos utilizadas por “EL RESPONSABLE” en sus sitios
            y
            páginas web se encuentran las cookies, los Web beacons, y los enlaces en los correos electrónicos.</p>

        <p>&nbsp;</p>

        <p><strong>Uso de Cookies.-</strong> El correcto funcionamiento de los sitios de “EL RESPONSABLE” y/o de las
            plataformas
            tecnologicas de las cual “EL RESPONSABLE” sea titular requieren de la habilitación de “cookies” en su
            navegador
            de Internet. Las "cookies" son pequeños archivos de datos transferidos por el sitio Web o la plataforma
            tecnologica al disco duro de su computadora o dispositivo móvil cuando navega por el sitio o la
            plataformas
            tecnologicas, respectivamente. Las cookies pueden ser de sesión o permanentes. Las cookies de sesión no
            se
            quedan en su computadora o dispositivo móvil después de que usted cierra la sesión de su navegador,
            mientras que
            las cookies permanentes se quedan en las computadoras hasta que son eliminan o caducan. En la mayoría de
            los
            navegadores las cookies se aceptan automáticamente en virtud de su configuración predeterminada, usted
            puede
            ajustar las preferencias de su navegador para aceptar o rechazar las cookies. La desactivación de las
            cookies
            puede inhabilitar diversas funciones de los sitios web de “EL RESPONSABLE” o que no se muestren
            correctamente.
            En caso de que usted prefiera eliminar la información de las cookies enviadas por “EL RESPONSABLE”,
            usted puede
            eliminar el archivo(s) al final de cada sesión del explorador. Información relevante puede ser
            consultada en los
            sitios de los principales navegadores de Internet. Lo anterior, con la finalidad, entre otras, de
            bridarle una
            mejor atención de nuestros productos y/o servicios mediante la persistencia de cookies para hacer
            posible el
            conocimiento y/o resguardo de sus preferencias relativas a nuestros productos y/o servicios en las
            distintas
            sesiones en la que acceda y/o use nuestro sitio o las plataformas tecnologicas de las cual “EL
            RESPONSABLE” sea
            titular</p>

        <p>&nbsp;</p>

        <p><strong>Uso de Web beacons</strong> (también conocidos como etiquetas de Internet, etiquetas de píxel y clear
            GIFs).- “EL
            RESPONSABLE” puede utilizar en su sitios web y en sus correos electrónicos con formato HTML los Web
            beacons,
            solos o en combinación con las cookies, para recopilar información sobre el uso de los sitios web y su
            interacción con el correo electrónico. El Web beacon es una imagen electrónica, llamada de un solo píxel
            (1x1) o
            GIF que puede reconocer información que es procesada en su computadora, como el caso de las cookies, la
            hora y
            fecha en que el sitio y sus secciones son visualizados.</p>

        <p>&nbsp;</p>

        <p><strong>Vínculos en los correos electrónicos de “EL RESPONSABLE”.-</strong> Los correos electrónicos que
            incluyen
            vínculos que
            permiten a “EL RESPONSABLE” saber si usted activó dicho vínculo y visitó la página web de destino,
            pudiendo esta
            información ser incluida en su perfil. En caso de que usted prefiera que “EL RESPONSABLE” no recolecte
            información sobre su interacción con dichos vínculos, usted puede optar por modificar el formato de las
            comunicaciones de “EL RESPONSABLE” (por ejemplo, que el mensaje sea recibido en formato de texto y no en
            formato
            HTML) o puede hacer caso omiso del vínculo y no acceder a su contenido. Los correos electrónicos de “EL
            RESPONSABLE” pueden incluir vínculos diseñados para dirigirlo a las secciones relevantes de los sitios
            Web, al
            re-direccionarlo a través de los servidores de “EL RESPONSABLE”.</p>

        <p>&nbsp;</p>

        <p>El sistema de re-direccionamiento permite a “EL RESPONSABLE” modificar el URL de tales vínculos en caso
            de ser
            necesario, también permiten a “EL RESPONSABLE” el determinar la eficacia de sus campañas de marketing en
            línea.
            Los Datos Personales que “EL RESPONSABLE” obtiene de sus fuentes comerciales pueden utilizarse junto con
            los
            Datos Personales que recolecta a través de sus sitios web. Por ejemplo, “EL RESPONSABLE” podría comparar
            la
            información geográfica disociada adquirida de fuentes comerciales con la dirección IP recopilada por las
            herramientas de captura automática de datos con el fin de proporcionarle información o promociones
            relevantes
            para su área geográfica.</p>

        <p>&nbsp;</p>

        <p><strong>Protección a menores:</strong> En caso de que “EL RESPONSABLE” considere que los Datos Personales han
            sido
            proporcionados
            por un menor en contravención al presente Aviso, “EL RESPONSABLE” procederá a eliminar tales Datos
            Personales a
            la brevedad. Si usted se da cuenta que tales Datos Personales han sido proporcionados por un menor de 18
            (dieciocho) años, por favor envíe un correo electrónico a la dirección:
            <strong>datospersonales@rappi.com</strong></p>

        <p>&nbsp;</p>

        <p><strong>Transmisión y transferencia de Datos Personales</strong></p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” no compartirá, sin su consentimiento previo, sus datos personales con terceros,
            nacionales o
            extranjeros, fuera del grupo de compañías y filiales de “EL RESPONSABLE”, salvo que:</p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong>La ley o un mandato judicial así lo requieran;</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong>La información deba compartirse con contratistas de “EL
            RESPONSABLE” para llevar a cabo las
            operaciones
            internas y cumplir con las finalidades descritas (por ejemplo para enviarle un artículo promocional
            solicitado
            por usted, hacer entrega de pedidos, almacenar la información física o electrónicamente);</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong>Para proteger los derechos o bienes de “EL RESPONSABLE” o de sus
            clientes;</p>

        <p>&nbsp;</p>

        <p><strong>d</strong><strong>) &nbsp;</strong>Que dicha transferencia esté prevista en la Ley Federal de
            Protección de Datos Personales en Posesión
            de los
            Particulares.</p>

        <p>&nbsp;</p>

        <p>Habiendo leído, entendido y acordado los términos expuestos en este Aviso, el Titular manifiesta su
            consentimiento para que “EL RESPONSABLE” o cualquier Encargado realicen transferencias de Datos
            Personales a
            terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos terceros den a los
            Datos
            Personales del Titular deberá ajustarse a lo establecido en este Aviso.</p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” le informa al Titular que con el objeto de poder entregar productos, servicios y
            soluciones a
            sus clientes, consumidores, empleados, proveedores y demás usuarios de sus servicios, “EL RESPONSABLE”
            y/o sus
            Encargados han celebrado o celebrarán diversos acuerdos comerciales con proveedores de productos y
            servicios,
            tanto en territorio nacional como en el extranjero, para que le suministren, entre otros servicios, los
            de:
            telecomunicaciones y correo electrónico; administración y gestión de bases de datos; tratamiento
            automatizado de
            Datos Personales y su almacenamiento; call center para atención al cliente; autenticación y validación
            de
            correos electrónicos; telemarketing; terminales de tarjeta de crédito; facturación electrónica;
            comercialización; transporte e instalación de productos; administración de nóminas y beneficios de
            seguridad
            social; contratación de personal; servicios de auditoría y otros de naturaleza análoga.</p>

        <p>&nbsp;</p>

        <p>La autorización del Titular faculta a “EL RESPONSABLE” y/o a sus Encargados a transmitir Datos
            Personales del
            Titular a dichos proveedores, en el entendido de que dichos proveedores están obligados, por virtud del
            contrato
            correspondiente, a mantener la confidencialidad de los Datos Personales suministrados por “EL
            RESPONSABLE” y/o
            sus Encargados y a observar el presente Aviso.</p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” y/o sus Encargados podrán transferir los Datos Personales recolectados del Titular a
            cualquier
            otra sociedad del mismo grupo empresarial al que pertenezca “EL RESPONSABLE” y que operen con los mismos
            procesos y políticas internas, sea que se encuentren en territorio nacional o en el extranjero para su
            tratamiento con las mismas finalidades descritas en este Aviso. También podrá transferir sus Datos
            Personales a
            otros terceros que le apoyen para cumplir con los contratos o relaciones jurídicas que tenga con el
            Titular.</p>

        <p>&nbsp;</p>

        <p>Su información personal puede transferirse, almacenarse y procesarse en un país distinto de donde se
            proporcionó. Sí lo hacemos, transferimos la información de conformidad con las leyes de protección de la
            información aplicables. Tomamos medidas para proteger la información personal sin importar el país donde
            se
            almacena o a donde se transfiere. Tenemos procedimientos y controles oportunos para procurar esta
            protección.</p>

        <p>&nbsp;</p>

        <p>El Titular reconoce y acepta que “EL RESPONSABLE” no requiere de autorización ni confirmación de dicho
            Titular
            para realizar transferencias de Datos Personales nacionales o internacionales en los casos previstos en
            el
            Artículo 37 de la LFPDP o en cualquier otro caso de excepción previsto por la misma o la demás
            legislación
            aplicable.</p>

        <p>&nbsp;</p>

        <p><strong>Seguridad</strong></p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” ha adoptado las medidas de seguridad, administrativas, técnicas y físicas, necesarias
            para
            proteger sus datos personales contra daño, pérdida, alteración, destrucción o el uso, acceso o
            tratamiento no
            autorizado. Sin embargo, “EL RESPONSABLE” no puede y por ende no garantiza que no existirá un acceso no
            autorizado a sus datos personales o que las comunicaciones estén libres de toda interrupción, error o
            intercepción por terceros no autorizados.</p>

        <p>&nbsp;</p>

        <p>
            El acceso a sus datos personales en poder de “EL RESPONSABLE” se limitará a las personas que necesiten
            tener
            acceso a dicha información, con el propósito de llevar a cabo las finalidades identificadas.</p>

        <p>&nbsp;</p>

        <p>

            En caso que al momento de proporcionar sus Datos Personales a “EL RESPONSABLE” se le asigne un nombre de
            usuario
            y contraseña, usted será responsable de que dicha información se mantenga confidencial. Le sugerimos no
            compartir esta información con nadie. Si comparte su equipo, procure siempre cerrar la sesión antes de
            salir de
            un sitio o servicio a fin de evitar que terceros no autorizados puedan acceder a su información.</p>

        <p>&nbsp;</p>

        <p>Los Datos Personales del Titular recolectados por “EL RESPONSABLE” y/o sus Encargados se encontrarán
            protegidos
            por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida,
            alteración,
            destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la LFPDP y de
            la
            regulación administrativa derivada de la misma.</p>

        <p>&nbsp;</p>

        <p><strong>Derechos que le corresponden</strong></p>

        <p>&nbsp;</p>

        <p>Usted como titular de datos personales podrá, solicitar ante el Departamento de Protección de Datos
            Personales
            de “EL RESPONSABLE” el acceso, rectificación, cancelación u oposición (derechos ARCO), respecto de sus
            datos
            personales.</p>

        <p>&nbsp;</p>

        <p>Los Derechos ARCO son los siguientes:</p>

        <p>&nbsp;</p>

        <p>Acceso.- Que se le informe cuáles de sus datos personales están contenidos en las bases de datos de “EL
            RESPONSABLE” y para qué se utilizan dichos datos personales, el origen de dichos datos y las
            comunicaciones que
            se hayan realizado con los mismos.</p>

        <p>&nbsp;</p>

        <p>Rectificación.- Que se corrijan o actualicen sus datos personales en caso de que sean inexactos o
            incompletos.
            Usted deberá informar a “EL RESPONSABLE” de los cambios que se deban hacer a sus datos personales,
            cuando dichos
            cambios solo sean de su conocimiento.</p>

        <p>&nbsp;</p>

        <p>Cancelación.- Que sus datos personales sean dados de baja total o parcialmente de las bases de datos de
            “EL
            RESPONSABLE”. Esta solicitud dará lugar a un periodo de bloqueo tras el cual procederá la supresión de
            los
            datos. Existen casos en los que la cancelación no será posible en términos de la Ley Federal de
            Protección de
            Datos Personales en Posesión de los Particulares y otras disposiciones legales aplicables.</p>

        <p>&nbsp;</p>

        <p>Oposición.- Oponerse por causa legítima al tratamiento de sus datos personales por parte de “EL
            RESPONSABLE” o
            limitar su uso o divulgación. En los casos que la oposición verse sobre la recepción de ciertos
            comunicados, en
            dichos comunicados se incluirá la opción para salir de la lista de envío y dejar de recibirlos.
        </p>

        <p>&nbsp;</p>

        <p>Usted tiene, en todo momento, derecho de acceder, rectificar y cancelar sus datos personales, así como
            de
            oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya
            proporcionado
            presentando una solicitud con la información y documentación siguiente:</p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong>Nombre del Titular y domicilio u otro medio para comunicarle la
            respuesta a su solicitud;</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong>Los documentos que acrediten su identidad (copia simple en formato
            impreso o electrónico de su
            credencial de
            elector, pasaporte o FM-3) o, en su caso, la representación legal del Titular (copia simple en formato
            impreso o
            electrónico de la carta poder simple con firma autógrafa del Titular, el mandatario y sus
            correspondientes
            identificaciones oficiales – credencial de elector, pasaporte o FM-3);</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong>La descripción clara y precisa de los Datos Personales respecto de
            los que busca ejercer alguno de
            los
            Derechos ARCO, y</p>

        <p>&nbsp;</p>

        <p><strong>d</strong><strong>) &nbsp;</strong>Cualquier otro elemento o documento que facilite la localización
            de los Datos Personales del Titular.</p>

        <p>&nbsp;</p>

        <p><strong>e</strong><strong>) &nbsp;</strong>En el caso de las solicitudes de rectificación de Datos
            Personales, el Titular respectivo deberá
            también
            indicar las modificaciones a realizarse y aportar la documentación que sustente su petición.</p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” o sus Encargados le responderán al Titular respectivo en un plazo máximo de veinte días
            hábiles, contados desde la fecha en que se recibió la solicitud. Los plazos antes referidos podrán ser
            ampliados
            sólo en términos de la LFPDP.</p>

        <p>&nbsp;</p>

        <p>La entrega de los Datos Personales será gratuita, solamente le corresponderá cubrir los gastos
            justificados de
            envío o el costo de reproducción en copias u otros formatos. Para efectos de las solicitudes de
            cancelación de
            Datos Personales, además de lo dispuesto por el presente Aviso, se estará a lo dispuesto en el Artículo
            26 de la
            LFPDP, incluyendo los casos de excepción de cancelación de Datos Personales ahí señalados.</p>

        <p>&nbsp;</p>

        <p>La presentación de una solicitud de oposición del uso de Datos Personales por el Titular de los mismos,
            dará a
            “EL RESPONSABLE” la facultad de oponerse al uso de los Datos Personales que como Titular haya entregado
            al
            oponente.</p>

        <p>&nbsp;</p>

        <p><strong>Consentimiento</strong></p>

        <p>&nbsp;</p>

        <p>Para efectos de lo dispuesto en la LFPDP y en particular en su Artículo 17, el Titular manifiesta:</p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong>Que el presente Aviso le ha sido dado a conocer por “EL
            RESPONSABLE”;</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong>Haber leído, entendido y acordado los términos expuestos en este
            Aviso, por lo que otorga su
            consentimiento
            respecto del tratamiento de sus Datos Personales para efectos de la LFPDP y demás legislación aplicable.
            En caso
            de que los Datos Personales recopilados incluyan Datos Personales sensibles o financieros, mediante la
            firma del
            contrato correspondiente, sea en formato impreso, o utilizando medios electrónicos y sus
            correspondientes
            procesos para la formación del consentimiento, por ejemplo, a título enunciativo mas no limitativo,
            mediante el
            suministro de Datos Personales a través de las ventanas de diálogo, o la visualización y recorrido en
            pantalla
            de términos y condiciones, se llevarán a cabo actos que constituyen el consentimiento expreso del
            titular en
            términos del segundo párrafo del artículo 8 de la LFPDP y demás legislación aplicable y;</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong>Que otorga su consentimiento para que “EL RESPONSABLE” o sus
            Encargados realicen transferencias de
            Datos
            Personales a terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos
            terceros den a
            sus Datos Personales deberá ajustarse a lo establecido en este Aviso.</p>

        <p>&nbsp;</p>

        <p>En caso de que el Titular no se oponga a los términos del Aviso se considerará acordado y consentido su
            contenido, en términos del tercer párrafo del artículo 8 de la LFPDP. El consentimiento del Titular
            podrá ser
            revocado en cualquier momento por éste sin que se le atribuyan efectos retroactivos conforme a los
            procedimientos establecidos más adelante para ello en este Aviso.</p>

        <p>&nbsp;</p>

        <p>No obstante cualquier disposición de este Aviso, el Titular reconoce que no se requerirá de su
            consentimiento
            para el tratamiento de Datos Personales por parte de “EL RESPONSABLE” o de terceros en cualquiera de los
            casos
            señalados en el Artículo 10 de la LFPDP.</p>

        <p>&nbsp;</p>

        <p>Al proporcionar cualquier tipo de información, incluyendo sus datos personales, usted expresamente:</p>

        <p>&nbsp;</p>

        <p><strong>a</strong><strong>) &nbsp;</strong>Acepta las condiciones contenidas en el presente Aviso;</p>

        <p>&nbsp;</p>

        <p><strong>b</strong><strong>) &nbsp;</strong>Está de acuerdo en que la información proporcionada por usted
            pueda almacenarse, usarse y, en
            general,
            tratarse para los fines que se señalan, incluso para fines comerciales y de promoción;</p>

        <p>&nbsp;</p>

        <p><strong>c</strong><strong>) &nbsp;</strong>Otorga a “EL RESPONSABLE” autorización para obtener, compilar,
            almacenar, compartir, comunicar,
            transmitir y
            usar tal información de cualquier manera o forma, de conformidad con las condiciones establecidas en el
            presente
            y las leyes aplicables.</p>

        <p>&nbsp;</p>

        <p><strong>Limitación de uso</strong></p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” y/o sus Encargados conservarán los Datos Personales del Titular durante el tiempo que
            sea
            necesario para procesar sus solicitudes de información, productos y/o servicios, así como para mantener
            los
            registros contables, financieros y de auditoria en términos de la LFPDP y de la legislación mercantil,
            fiscal y
            administrativa vigente. Además de controlar la divulgación de dichos datos o información de socios
            comerciales.</p>

        <p>&nbsp;</p>

        <p><strong>Contacto</strong></p>

        <p>&nbsp;</p>

        <p>Preguntas, comentarios, ejercicio de derechos al Departamento de Protección de Datos
            Personales de “EL RESPONSABLE”</p>

        <p>&nbsp;</p>

        <p>Correo electrónico: <strong>rappitequiere@rappi.com</strong></p>

        <p>&nbsp;</p>

        <p>Domicilio: en <strong>Cerrada Belgrado 17, Col. Juarez, Del. Cuauhtémoc, C.P. 06600, México, D.F.</strong>
        </p>

        <p>&nbsp;</p>

        <p>Atención: Departamento Jurídico.</p>

        <p>&nbsp;</p>

        <p><strong>Cambios al Aviso de Privacidad</strong></p>

        <p>&nbsp;</p>

        <p>“EL RESPONSABLE” se reserva el derecho de modificar o enmendar, total o parcialmente, el presente Aviso
            de
            Privacidad en cualquier momento. El Aviso de Privacidad modificado se le hará llegar al correo
            electrónico que
            nos proporcionó o se publicará en la página web <b>www.rappi.com</b> . La falta de oposición al nuevo Aviso
            de
            Privacidad dentro de los 5 días hábiles siguientes a su recepción se entenderá como su aceptación a los
            términos
            que en él se establecen.</p>


    </div>

{{else}}
    <div class="container col-xs-12">
        <h1 class="text-center">POLÍTICAS DE MANEJO DE DATOS RAPPI S.A.S.</h1>

        <p>&nbsp;</p>

        <p><b>Rappi S.A.S., (</b>en adelante <b>“Rappi”)</b> sociedad colombiana, identificada con NIT 900.843.898-9,
            con domicilio
            principal en la ciudad de Bogotá D.C., Distrito Capital, con sede principal en la Calle 93 # 19-58, que
            puede ser contactada en el domicilio señalado o en la dirección de correo electrónico
            <a target="_blank" href="mailto:servicioalcliente@rappi.com">servicioalcliente@rappi.com</a> o a través de
            la línea telefónica (57 1) 316 3535.</p>

        <p>En aplicación de la normatividad colombiana a saber: Ley 1266 de 2008, Ley 1581 de 2012, decreto 1074 de 2015
            ha dispuesto para el trato de los datos personales del Titular de la información la siguiente política de
            manejo de “Habeas Data” de la plataforma RAPPI (Incluye aplicación, página web y cualquiera de los contratos
            que sean suscritos con Rappi S.A.S. o sus filiales).</p>

        <p>&nbsp;</p>

        <p class="text-center"><strong>DEFINICIONES.</strong></p>

        <p>Las palabras que se enlistan a continuación, tendrán el significado que para el presente documento se
            especifica, las palabras no definidas se interpretarán de conformidad con el uso común que se le da por el
            idioma español.</p>

        <p>&nbsp;</p>

        <p><strong>a. &nbsp; Autorización: </strong> Consentimiento previo, expreso e informado del
            Titular para llevar a cabo el Tratamiento de datos personales;</p>

        <p><strong>b. &nbsp; Base de Datos: </strong> Conjunto organizado de datos personales que sea
            objeto de Tratamiento;</p>

        <p><strong>c. &nbsp; Dato personal: </strong> Cualquier información vinculada o que pueda
            asociarse a una o varias personas naturales determinadas o determinables;</p>

        <p><strong>d. &nbsp; Encargado: </strong> Persona natural o jurídica, pública o privada, que por
            sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del
            Tratamiento;</p>

        <p><strong>e. &nbsp; Formas de recabar los datos personales: </strong> Rappi podrá conocer,
            recolectar, almacenar, administrar la información del titular de la información de conformidad con la
            política de uso de datos contenida en el presente documento a través de los siguientes medios: (i)
            Inscripción y uso de la aplicación móvil Rappi; (ii) Inscripción y uso de la página web de Rappi; (iii)
            suscripción de cualquier tipo de contrato, alianza y/o convenio con Rappi; (iv) Inscripción como proveedor
            de Rappi.</p>

        <p><strong>f. &nbsp; Responsable: </strong> Persona natural o jurídica, pública o privada, que por
            sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos; </p>

        <p><strong>g. &nbsp; Titular: </strong> Persona natural cuyos datos personales sean objeto de
            Tratamiento;</p>

        <p><strong>h. &nbsp; Tratamiento: </strong> Cualquier operación o conjunto de operaciones sobre
            datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.</p>

        <p><strong>i. &nbsp; Usuario: </strong> El titular de la información y quien está facultado para
            autorizar a Rappi el uso de sus datos, en el contexto de la presente política de tratamiento de datos
            personales Usuario podrán ser: (i) suscriptores/Clientes de la plataforma; (ii) Contratistas/Rappitenderos;
            (iii) proveedores.</p>

        <p>&nbsp;</p>

        <p class="text-center"><strong>I. &nbsp;&nbsp;&nbsp;&nbsp; TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS
            DATOS.</strong></p>

        <p><b>Rappi</b> informa al usuario de la información y a su vez el usuario manifiesta que así lo acepta de
            manera
            expresa y voluntaria, que los datos consignados en las bases de datos de Rappi, sean recopilados,
            almacenados para los usos que a continuación se enuncian: </p>


        <div style="padding-left:120px;"><p>(i) &nbsp;&nbsp; Recabar o recolectar los datos personales e incorporarlos y
            almacenarlos
            en nuestra base de datos,</p>

            <p>(ii) &nbsp;&nbsp; Ordenar, catalogar, clasificar, dividir o separar la información
                suministrada,</p>

            <p>(iii) &nbsp;&nbsp; Utilizar los datos suministrados en campañas de comunicación,
                divulgación y promoción u oferta de productos, actividades o servicios desarrollados como parte de
                estrategias internas de la compañía,</p>

            <p>(iv) &nbsp;&nbsp; Utilizarlos para fines administrativos internos o comerciales tales
                como: estudios de crédito, elaboración y presentación de cotizaciones, referencias comerciales de
                experiencia, investigación de mercados, análisis estadísticos, realización de encuestas sobre
                satisfacción,
                ofrecimiento o reconocimiento de beneficios propios de nuestro programa de lealtad y servicio
                postventa,</p>

            <p>(v) &nbsp;&nbsp; Conservar registros históricos de la compañía y mantener contacto
                con
                los titulares del dato,</p>

            <p>(vi) &nbsp;&nbsp; Verificar, comprobar o validar los datos suministrados,</p>

            <p>(vii) &nbsp;&nbsp; Estudiar y analizar la información entregada para el seguimiento y
                mejoramiento de los productos, el servicio y la atención, </p>

            <p>(viii) &nbsp;&nbsp; Entregar la información recolectada a terceros con los que la
                compañía contrate el almacenamiento y administración de los datos personales, bajo los estándares de
                seguridad y confidencialidad a los cuales estamos obligados,</p>

            <p>(ix) &nbsp;&nbsp; Transferir los datos personales a cualquier país o servidor en otro
                país,</p>

            <p>(x) &nbsp;&nbsp; Comunicar y permitir el acceso a los datos personales suministrados
                a
                terceros proveedores de servicios de apoyo general y a las personas naturales o jurídicas accionistas de
                Rappi, </p>

            <p>(xi) &nbsp;&nbsp; Vinculación como contratista o proveedor,</p>

            <p>(xii) &nbsp;&nbsp; Control y prevención del fraude, control y prevención de lavado de
                activos y financiación del terrorismo,</p>

            <p>(xiii) &nbsp;&nbsp; Celebración, ejecución y gestión de las propuestas de negocios y
                contratos objeto de los servicios prestados, </p>

            <p>(xiv) &nbsp;&nbsp; Reportes a centrales de riesgo por incumplimiento de las
                obligaciones
                financieras derivadas de la relación comercial.</p></div>

        <p>&nbsp;</p>

        <p>La información aportada por el usuario no será utilizada para actividades ilegales, además será manejada con
            las medidas técnicas, humanas y administrativas que sean necesarias para garantizar al usuario que la
            información no será adulterada, perdida, consultada sin permiso o destinada para usos fraudulentos.

            En las plataformas de Rappi a las que tenga acceso el usuario, así como en las bases de datos administradas
            por Rappi o por terceros que esta designe, opera el principio de seguridad donde se vela por la privacidad
            de los datos e información del usuario, por ello la información recolectada y que reposa en las bases de
            datos de Rappi será utilizada únicamente para los fines expresados en el presente documento, adecuándolos a
            los intereses y necesidades de las partes. Por ello se diseñaron y establecieron medidas de seguridad
            físicas, electrónicas y administrativas, a fin de proteger la información que recopilamos conforme a las
            presentes Políticas de Privacidad. Estas medidas de seguridad podrán ser revisadas periódicamente por Rappi
            para proteger al usuario de riesgos tales como el acceso, consulta o uso no autorizado por parte de
            terceros, su adulteración, pérdida, la divulgación y el uso inadecuado de su información, y con el fin de
            mantener la precisión e integridad de la información de las bases de datos</p>

        <p>La información relacionada a los medios de pago es utilizada para solicitar la autorización de cobro ante las
            entidades definidas y autorizadas para ello. Por lo tanto, la información suministrada en las plataformas
            (aplicación móvil y página web) por el usuario y/o clientes, tales como datos personales, fechas de
            vencimiento, en ningún momento será guardada o grabada por Rappi. En toda remisión de este tipo de
            información a un tercero y entidad autorizada se suscriben acuerdos de confidencialidad y los usuarios y/o
            clientes autorizan que se de este tratamiento para asegurar el éxito de las transacciones comerciales de las
            partes.</p>

        <p>&nbsp;</p>

        <p>La información suministrada por el usuario para acceder y usar las plataformas no será divulgada en ninguna
            forma por parte de las plataformas ni por Rappi. Sin embargo, el usuario autoriza expresamente a Rappi para
            que haga cualquier tratamiento legal, uso comercial, de cualquier desarrollo, comunicación, así como
            compartir, ceder, transferir la información y datos personales con cualquier entidad o empresa tercera que
            sea encargado o responsable de tratamiento de datos e información, haciendo extensiva a éstos la
            autorización expresa otorgada por el titular para llevar a cabo el tratamiento de datos personales.</p>

        <p>&nbsp;</p>

        <p>El tratamiento que hace la empresa y su portal asegura el respeto de los derechos prevalentes de los niños,
            niñas y adolescentes.</p>

        <p>&nbsp;</p>

        <p class="text-center"><strong>II. &nbsp;&nbsp;&nbsp;&nbsp; DERECHOS DEL TITULAR.</strong></p>

        <p><strong>El titular de los datos tiene derecho a:</strong></p>

        <div style="padding-left:120px;"><p><b>(i)</b> &nbsp;&nbsp; Conocer, actualizar y rectificar sus datos
            personales recolectados por Rappi. Este derecho se puede ejercer entre otros frente a datos parciales,
            inexactos, incompletos, fraccionados o que induzcan al error.</p>

            <p><b>(ii)</b> &nbsp;&nbsp; Solicitar prueba de la autorización otorgada a Rappi.</p>

            <p><b>(iii)</b> &nbsp;&nbsp; Ser informado por Rappi, previa solicitud, respecto del uso que le han dado a
                los datos del titular.</p>

            <p><b>(iv)</b> &nbsp;&nbsp; Presentar ante la Superintendencia de Industria y Comercio quejas por
                infracciones a lo dispuesto en la ley.</p>

            <p><b>(v)</b> &nbsp;&nbsp; Revocar en cualquier tiempo la autorización y/o supresión del dato.</p>

            <p><b>(vi)</b> &nbsp;&nbsp; Acceder en forma gratuita a los datos del titular contenidos en la base de datos
                de Rappi.</p>
        </div>

        <p>&nbsp;</p>

        <p class="text-center"><strong>III. &nbsp;&nbsp;&nbsp;&nbsp; ÁREA RESPONSABLE DE LA ATENCIÓN DE LAS PETICIONES,
            CONSULTAS Y RECLAMOS</strong></p>

        <p>Para que el titular de la información pueda ejercer sus derechos de acuerdo con la ley 1266 de 2008,1581 de
            2012, decreto 1377 de 2013, decreto 1074 de 2015 y demás normas concordantes, Rappi ha destinado el
            departamento de Customer Care (servicio al cliente) con el fin de atender las solicitudes de los usuarios,
            tal y como se presenta en el acápite IV. </p>

        <p>&nbsp;</p>

        <p class="text-center"><strong>IV. &nbsp;&nbsp;&nbsp;&nbsp; PROCEDIMIENTO PARA EJERCITAR LOS DERECHOS.</strong>
        </p>

        <p>Rappi ha implementado diferentes canales a elección del usuario para que este pueda realizar las acciones
            encaminadas a dar las siguientes formas de ejercer sus derechos de “Habeas Data”:</p>

        <p><strong>a. &nbsp;&nbsp;&nbsp; Atención electrónica:</strong> El Titular del dato deberá realizar su
            requerimiento formal a la dirección electrónica <a target="_blank" href="mailto:servicioalcliente@rappi.com">servicioalcliente@rappi.com</a> previo agotamiento de los
            requisitos de legitimación para el ejercicio del titular, a saber:</p>

        <div style="padding-left:120px;">
            <p>(i) &nbsp;&nbsp;  Ser titular de la información, acreditar la identidad en forma suficiente mediante cualquier medio que Rappi destine para ello.</p>
            <p>(ii) &nbsp;&nbsp; Por los causahabientes, quienes deberán acreditar tal calidad.</p>
            <p>(iii) &nbsp;&nbsp;   Por el representante/apoderado del titular de la información, quien también deberá acreditar tal calidad.</p>
            <p>(iv) &nbsp;&nbsp;  Por estipulación a favor de otro o por otro ejercitarán por conjunto de las personas que estén facultadas para representarlos, e igualmente se deberá acreditar tal calidad.</p>
        </div>
        <p>Los derechos de los menores de edad se ejercitarán por las personas encargadas de su representación, e igualmente se deberá acreditar tal calidad.</p>


        <p><strong>b. &nbsp;&nbsp;&nbsp; Atención escrita:</strong>  El Titular del dato deberá realizar su requerimiento formal a la dirección: <u>Calle 93 #19-58</u>, <u>Bogotá D.C. Colombia</u>, previo agotamiento de los requisitos de legitimación para el ejercicio del titular, según lo descrito en el literal a del presente acápite, mediante escrito donde se especifique la dirección donde recibirá notificaciones y respuestas.</p>
        <p><strong>c. &nbsp;&nbsp;&nbsp; Atención verbal:</strong>  El Titular del dato deberá realizar su requerimiento verbal en la dirección: Calle 93 # 19-58 <u>Bogotá D.C. Colombia</u>, previo agotamiento de los requisitos de legitimación para el ejercicio del titular, según lo descrito en el literal a del presente acápite.</p>
        <p><strong>d. &nbsp;&nbsp;&nbsp; Atención telefónica:</strong>  El Titular del dato deberá realizar su requerimiento a través de la línea telefónica: <u>3163535</u>, previo agotamiento de los requisitos de legitimación para el ejercicio del titular, según lo descrito en el literal a del presente acápite.</p>
        <p>&nbsp;</p>


        <p class="text-center"><strong>V. &nbsp;&nbsp;&nbsp;&nbsp;  ENTRADA EN VIGENCIA Y DURACIÓN</strong>
        </p>
        <p>La presente política de manejo de datos de Rappi S.A.S. entra en vigencia a partir de la fecha de su firma, y tendrá una vigencia indefinida hasta cuando haya cambios sustanciales, los cuales serán informados a los titulares de la información según los términos de la ley.</p>


        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Firmado en Bogotá D.C. a los 16 días del mes de mayo de 2016</p>

    </div>

{{/if}}
