<div class="popUp-wrapper loginPopup">
    <div class="popUp-Outer text-center orderExists pd-btm40">
        <a class="close-global-black" {{action 'toggleView'}}></a>

        <div class="toTable">
            <div class="formTitle border-bottom padding-popup">
                <h1>Orden ya existe</h1>
            </div>
            <div class="text-center popup-msg padding-popup">
                <p>No se puede tener dos órdenes a la vez.</p>
                <p> Para ver el estado del orden existente, haga clic aquí <a class="accent-color" {{action 'showOrder'}}>Ver pedido</a></p>
            </div>
        </div>
    </div>
</div>
