
<div class="brand-display">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2 col-sm-6 brand-wrap">
                <h4>Bogotá</h4>
                <p>Más de 4000 alianzas</p>
                <p>Supermercado las 24 hrs</p>
            </div>
            <div class="col-md-3 col-sm-6 brand-wrap">
                <h4>Ciudad <span>de</span> México</h4>
                <p>Más de 3000 alianzas</p>
                <p>Supermercado las 24 hrs</p>
            </div>
            <div class="col-md-3 col-sm-6 brand-wrap middle-element">
                <h4>Barranquilla</h4>
                <p>Más de 1500 alianzas</p>
                <p>Supermercado las 24 hrs</p>
            </div>
            <div class="col-md-2 col-sm-6 brand-wrap last-element ">
                <h4>Medellín</h4>
                <p>Más de 2000 alianzas</p>
                <p>Supermercado las 24 hrs</p>
            </div>
            <div class="col-md-2 col-sm-6 brand-wrap last-element">
                <h4>Cali</h4>
                <p>Más de 2000 alianzas</p>
                <p>Supermercado las 24 hrs</p>
            </div>
        </div>
    </div>
</div>
