{{product-search-item routeName='home.store' searchItems=model.searchedPruduct searchItemsName=product isCartRemoved=isCartRemoved removedProductId=removedProductId}}
{{landing-page-popular-search-block data=model.popularSearch}}

<div class="{{if basketOpenned 'basket-overlay' ''}}">
  {{shopping-basket setCartRemoved='setCartRemoved' setRemovedProductId='setRemovedProductId' basketOpenned=basketOpenned}}
</div>