<div class="mexico-landing-page-block">
  <div class="main-content">
    <h1>TODO A DOMICILIO</h1>
    <p>DESCARGA NUESTRA APP</p>
    <a class="btn-app-store" href="http://appstore.com/rappi" target="_blank" />
    <a class="btn-play-store" href="https://play.google.com/store/apps/details?id=com.grability.rappi&hl=es_419" target="_blank" />
  </div>
</div>
